@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE HTML>

<html>

<head>

	<title>Home Page</title>
	<link rel="stylesheet" href="~/css/site.css" type="text/css" />

</head>


<body class="center">

<h1>Recipes</h1>

<ul>
		<!--Buttons-->
		<li><a class="btn_menu" href="~/Home/Index">Home</a></li>
		<li><a class="btn_menu" href="~/Home/Recipes">Recipes</a></li>


</ul>

<div class="center">
		<!--Main Text-->
	<p>
			This website is designed to help the community  share recipes.
	</p>
	

</div>


</body>


</html>

