
@{
	ViewData["Title"] = "View Recipe";
}


<!DOCTYPE HTML>

<html>
<head>
	<title>View Recipe</title>
	<link rel="stylesheet" href="~/css/site.css" type="text/css" />>
</head>

<body class="center">
	<h1>ViewAppraisal</h1>
	
<table>
	<!--Buttons-->
	<tr>
		<a href="~/Home/Index" class="btn_menu">Home</a>
		<a href="~/Home/Recipes" class="btn_menu">Appraise Again</a><a href="~/Home/ViewAllRecipes" class="btn_menu">View All Appraisals</a>
	</tr>
</table>
	
<!--Output Message-->

	



</body>

</html>
